@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --dark-green: hsl(144, 51%, 10%);
  --black: hsl(0, 0%, 1%);
  --pakistan-green: hsl(141, 89%, 15%);
  --sea-green: hsl(147, 93%, 28%);
  --Malachite: hsl(144, 82%, 47%);
  --Malachite-light: hsl(144, 82%, 70%);
  --white: hsl(0, 0%, 100%);
}
